In [2]:
import pandas as pd

### Pandas Dtypes

#### Dataframe Simple

In [26]:
df = pd.DataFrame([{'id': 1.0, 'name': 'Metin'}])

In [27]:
df.id

0    100000000.0
Name: id, dtype: float64

In [28]:
df.name

0    Metin
Name: name, dtype: object

In [29]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 2 entries, id to name
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes

#### Dataframe - Using Dtypes

In [30]:
df = pd.DataFrame([{'id': 1.0, 'name': 'Metin'}])

In [31]:
df.id = df.id.astype(int)
df.id

0    1
Name: id, dtype: int32

In [32]:
df.name = df.name.astype(str)
df.name

0    Metin
Name: name, dtype: object

In [33]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 2 entries, id to name
dtypes: int32(1), object(1)
memory usage: 140.0+ bytes

#### When you Increase the Numbers

1 row -> 4 bytes
100M row -> 40 MB

### Pandas Chunking

In [36]:
df = pd.read_csv('sample.csv', encoding='ANSI')

In [37]:
df.shape

(14617, 6)

In [38]:
df.head()

,description,industry,level,size,line_code,value
0,"Markets where business sold raw, unprocessed m...",total,0,6–19 employees,C0201.01,2715
1,"Markets where business sold raw, unprocessed m...",total,0,20–49 employees,C0201.01,858
2,"Markets where business sold raw, unprocessed m...",total,0,50–99 employees,C0201.01,240
3,"Markets where business sold raw, unprocessed m...",total,0,100+ employees,C0201.01,234
4,"Markets where business sold raw, unprocessed m...","Agriculture, forestry, & fishing",1,total,C0201.01,1410

In [43]:
1e6

1000000.0

In [44]:
# byte divided by 1000000
sum(df.memory_usage()) / 1e6

0.701744

In [53]:
df_chunks = pd.read_csv('sample.csv', encoding='ANSI', chunksize=1000)
df_chunks

In [54]:
for df in df_chunks:
    print(df.shape, "row index start: ", df.index.min(), "row index end: ", df.index.max())

(1000, 6) row index start:  0 row index end:  999
(1000, 6) row index start:  1000 row index end:  1999
(1000, 6) row index start:  2000 row index end:  2999
(1000, 6) row index start:  3000 row index end:  3999
(1000, 6) row index start:  4000 row index end:  4999
(1000, 6) row index start:  5000 row index end:  5999
(1000, 6) row index start:  6000 row index end:  6999
(1000, 6) row index start:  7000 row index end:  7999
(1000, 6) row index start:  8000 row index end:  8999
(1000, 6) row index start:  9000 row index end:  9999
(1000, 6) row index start:  10000 row index end:  10999
(1000, 6) row index start:  11000 row index end:  11999
(1000, 6) row index start:  12000 row index end:  12999
(1000, 6) row index start:  13000 row index end:  13999
(617, 6) row index start:  14000 row index end:  14616

### Definition of Big Data

Relational vs NoSQL Database

checkout mongodb.